vosk==0.3.44
sounddevice==0.4.6
pynput==1.7.6
pystray==0.19.4
Pillow>=11.2.0
pywin32==306                      ; sys_platform == "win32"
pyobjc-framework-Quartz>=10.1     ; sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.1      ; sys_platform == "darwin"
